@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Noto Serif JP', serif;
  }
}

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
  .bg-position-right-center {
    background-position: right center;
  }
  @media (min-width: 768px) {
    .bg-position-right-center {
      background-position: center;
    }
  }
}